/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.box .row.header {
    flex: 0 1 auto;
}
.box .row.content {
    flex: 1 1 auto;
}
.box .row.footer {
    flex: 0 1 40px;
} 

.header-container {
    display: flex;
    width: 100%;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
}

.nav-btn-logo {
    margin: 0px;
    padding: 0px;
}

.nav-btn-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    margin-left: -16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.nav-btn-name:hover {
    color: black;
}

.site-name:hover {
    color: black;
}

.menu {
    width: 40%;
    text-align: center;
}

nav {
    background-color: lightseagreen;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', "Arial Regular", sans-serif;
    width: 100%;
}

.nav-ul {
    list-style-type: none;
}

.nav-li {
    display: inline;
}

.nav-a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: small;
    margin: 5px;
}

.nav-a:hover {
    color: black;
}

.nav-btn {
    color: white;
    font-weight: bold;
    font-size: small;
    margin: 5px;    
}

.nav-btn:hover {
    color: black;
}

.search-container {
    width: 40%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.search {
    display: flex;
    width: 100%;
    text-align: left;
    background-color: white;
    height: 35px;
    align-items: center;
    border-radius: 20px;
}

.search-input {   
    width: 70%;
}

.search input[type="text"] {
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 3px;
    padding: 5px;
    border-radius: 20px;
    border-color: white;
    outline: none;
}

.search-buttons {
    width: 30%;
    margin-top: 10px;
}

.fa-search {
    color: lightseagreen;
}

.button_search_icon {
    padding: 0px;
    background-color: white;
    cursor: pointer;
}

.button_search_icon:hover {
    background-color: white;    
}

/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
    /* background-image: url('./rmnp.jpg'); */
    background-image: url('https://t3.ftcdn.net/jpg/06/36/88/24/360_F_636882423_oCsAvtuzlXCT6e0q1lwS3ca4FHncanaA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

button {
    padding: 7px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Basic CSS for the report section */
h2 {
    margin-top: 30px;
}

.search_button {
    background-color: seagreen;
}

.search_button:hover {
    background-color: darkseagreen;
}

.clear_button {
    background-color: seagreen;
}

.clear_button:hover {
    background-color: darkseagreen;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.flex-child1 {
    width: 10%;
    border-right: 2px solid gray;
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.flex-child2 {
    width: 90%;
    padding-left: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.social {
    padding: 20px;
}

.social:hover {
    cursor: pointer;
}

.h1-home {
    margin-bottom: 20px;
}
                        
.h2-home{
    margin-bottom: 20px;
}

.p-content {
    margin: 20px;
    margin-left: 0px;
}

.btn-book {
    margin-top: 20px;
    background-color: seagreen;
}

.btn-book:hover {
    background-color: darkseagreen;
}

.multicolor-text {
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.active-page {
    color: black;
}

.home-content {
    width: 40%;
}

.about-us {
    width: 95%;
    padding: 20px;
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow:
        inset 0 -3em 3em rgb(0 200 0 / 30%),
        0 0 0 2px seagreen,
        0.3em 0.3em 1em rgb(200 0 0 / 60%);
}

.about-us p {
    margin-bottom: 15px;
}