/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.box .row {
    /* border: 1px dotted #0313fc; */
}
.box .row.header {
    flex: 0 1 auto;
}
.box .row.content {
    flex: 1 1 auto;
}
.box .row.footer {
    flex: 0 1 40px;
} 

nav {
    background-color: lightseagreen;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', "Arial Regular", sans-serif;
}

nav ul {
    list-style-type: none;
    /* padding: 0; */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: small;
    margin: 5px;
}

nav a:hover {
    color: black;
}

.site-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    display: flex;
    align-items: center;
    margin-left: -8px;
}

.nav-left {
    text-align: left;
    display: flex;
    align-items: center;
}

.nav-center {
    text-align: center;
}

.nav-right {
    text-align: right;
    background-color: white;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

nav input[type="text"] {
    border: none;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    border-color: white;
    outline: none;
}

.fa-search {
    color: lightseagreen;
}

.button_search_icon {
    padding: 0px;
    background-color: white;
    cursor: pointer;
}

.button_search_icon:hover {
    background-color: white;    
}

/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
    /* background-image: url('./rmnp.jpg'); */
    background-image: url('https://t3.ftcdn.net/jpg/06/36/88/24/360_F_636882423_oCsAvtuzlXCT6e0q1lwS3ca4FHncanaA.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

button {
    padding: 7px 15px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Basic CSS for the report section */
h2 {
    margin-top: 30px;
}

.search_button {
    background-color: seagreen;
}

.search_button:hover {
    background-color: darkseagreen;
}

.clear_button {
    background-color: seagreen;
}

.clear_button:hover {
    background-color: darkseagreen;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.flex-child1 {
    width: 10%;
    border-right: 2px solid gray;
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.flex-child2 {
    width: 40%;
    padding-left: 25px;
}

.social {
    padding: 20px;
}

.social:hover {
    cursor: pointer;
}

.home-content {
    margin-top: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h1-home {
    margin-bottom: 20px;
}
                        
.h2-home{
    margin-bottom: 20px;
}

.p-content {
    margin: 20px;
    margin-left: 0px;
}

.btn-book {
    margin-top: 20px;
    background-color: seagreen;
}

.btn-book:hover {
    background-color: darkseagreen;
}

.multicolor-text {
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
}