/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:disabled, button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.5;
}

html,
body {
    height: 100%;
    margin: 0;
}
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.box .row.header {
    flex: 0 1 auto;
}
.box .row.content {
    flex: 1 1 auto;
}
.box .row.footer {
    flex: 0 1 40px;
} 

.header-container {
    display: flex;
    width: 100%;
}

.nav-btn-logo {
    margin: 0px;
    padding: 0px;
}
.nav-btn-logo img {
    width: 40px;
    height: 30px;
}

.nav-btn-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    margin-left: -16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.nav-btn-name:hover {
    color: black;
}

.site-name:hover {
    color: black;
}

nav {
    background-color: lightseagreen;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', "Arial Regular", sans-serif;
    width: 100%;
}

.nav-ul {
    list-style-type: none;
}

.nav-li {
    display: inline;
}

.nav-a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: small;
    margin: 5px;
}

.nav-a:hover {
    color: black;
}

.nav-btn {
    color: white;
    font-weight: bold;
    font-size: small;
    margin: 5px;    
}

.nav-btn:hover {
    color: black;
}

.logo {
    width: 150px;
    display: flex;
    align-items: center;
}

.menu {
    width: 275px;
    text-align: center;
}

.search-container {
    width: 375px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.search {
    display: -webkit-inline-box;
    width: 100%;
    background-color: white;
    height: 90%;
    border-radius: 20px;
}

.search-input {   
    width: 60%;
}

.search input[type="text"] {
    border: none;
    width: 100%;
    margin-top: 6.5px;
    margin-left: 3px;
    padding: 5px;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
}

.search-buttons {
    width: 40%;
    margin-top: 5px;
}

.fa-search {
    color: lightseagreen;
}

.button-search-icon {
    padding: 0px;
    background-color: white;
    cursor: pointer;
}

.button-search-icon:disabled {
    border: 0px;
    background-color: white;
    cursor: not-allowed;
    opacity: 0.5;
}

.button-search-icon:hover {
    background-color: white;    
}

/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://t3.ftcdn.net/jpg/06/36/88/24/360_F_636882423_oCsAvtuzlXCT6e0q1lwS3ca4FHncanaA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

button {
    padding: 7px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search-button {
    background-color: seagreen;
    width: 60px;
}

.search-button:hover {
    background-color: darkseagreen;
}

.clear-button {
    width: 60px;
    background-color: seagreen;
}

.clear-button:hover {
    background-color: darkseagreen;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.flex-child1 {
    width: 10%;
    border-right: 2px solid gray;
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.flex-child2 {
    width: 90%;
    padding-left: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.social {
    padding: 20px;
}

.social:hover {
    cursor: pointer;
}

.fa-twitter, .fa-facebook, .fa-instagram, .fa-youtube {
    color: blue;
}

.fa-twitter:hover, .fa-facebook:hover, .fa-instagram:hover, .fa-youtube:hover {
    color: red;
}

.h1-home {
    margin-bottom: 20px;
}
                        
.h2-home{
    margin-bottom: 20px;
}

.p-content {
    margin: 20px;
    margin-left: 0px;
}

.btn-book {
    margin-top: 20px;
    background-color: seagreen;
}

.btn-book:hover {
    background-color: darkseagreen;
}

.multicolor-text {
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.active-page {
    color: darkblue;
}

.home-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.home-content {
    float: left;
    width: 400px;
}

.search-results {
    float: right;
    margin: 5px;
}

.about-us {
    width: 95%;
    padding: 20px;
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow:
        inset 0 -3em 3em rgb(0 200 0 / 30%),
        0 0 0 2px seagreen,
        0.3em 0.3em 1em rgb(200 0 0 / 60%);
}

.about-us p {
    margin-bottom: 15px;
}

.employee-container {
    margin-top: 15px;
    display: flex;
    width: 100%;
    height: 100%;
}

.employee-intro {
    width: 125px;
}

.employee-intro h2 {
    margin: 0;
}

.employee-cards {
    display: flex;
    width: 100%;
    height: 100%;
}

.employee-card-container {
    display: flex;
    width: 200px;
    height: 100%;
    background-color: rgba(96,96,96,0.5);
    border-radius: 20px;
    margin-right: 50px;
    padding-bottom: 5px;
}

.employee-avatar {
    width: 50px;
}

.employee-avatar img {
    padding: 2px;
    border-radius: 20px;
}

.employee-card {
    width: 150px;
}

.employee-card button {
    width: 125px;
}

.contact-form {
    background-color: rgba(96,96,96,0.5);
    width: 400px;
    padding: 5px;
}

.w3-container label {
    width: 95%;
    color: black;
    padding-top: 10px;
}

.w3-input {
    padding: 4px;
}

.w3-container textarea {
    margin-bottom: 20px;
}

.destination-container {
    background-color: rgba(96,96,96,0.5);
    width: 375px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.destination-container img {
    width: 100%;
    height: 300px;
    /* border-radius: top-left top-right bottom-right bottom-left */
    border-radius: 20px 20px 0px 0px;
}

.destination-card {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 8px;
}

.destination-card p {
    color: gray;
    font-weight: bold;
}

.destination-card button {
    width: 75px;
}

.no-results {
    display: flex;
    align-items: center;
}

.no-results img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.no-results p {
    color: red;
}